<ion-content>
  <div class="background-container">
    <img class="mobile-image" src="assets/image/fondo_movil.png" alt="Imagen para móvil">
    <img class="desktop-image" src="assets/image/fondo_web.png" alt="Imagen para escritorio">
    <div class="restaurant-logo">
      <img src="assets/icon/logo.png" alt="Logo del Restaurante">
    </div>
    <div class="content-overlay">
      <h1>Cerrar Cuenta</h1>
      <p class="">Logo Restaurante aqui</p>
      <p class="highlight">Haz click para solicitar tu cuenta</p>
      <p class="larger-text">¡Te llevaremos la cuenta a tu mesa!</p>
      <img class="target-image" src="assets/icon/tarjetas.png" alt="Campana">
      <div class="button-container">
        <ion-button class="custom-button" fill="outline" shape="round">Llamar Mesero</ion-button>
        <ion-button class="custom-button" fill="outline" shape="round">Hacer Pedido</ion-button>
      </div>
    </div>
    <div class="social-media-icons">
      <img src="assets/icon/instagram.png" alt="Instagram">
      <img src="assets/icon/facebook.png" alt="Facebook">
      <img src="assets/icon/whatsApp.png" alt="WhatsApp">
      
    </div>
    <p class="watermark">Powered by Order Ease CR</p>
  </div>
</ion-content>