<ion-content>
  <div class="background-container">
    <img class="background-image" src="assets/image/fondo_web.png" alt="Imagen para móvil">
  </div>
  <div class="thin-top-bar">
    <a routerLink="/pagina-resenna" style="color: #FF914D; text-decoration: none;">CALIFIQUE NUESTRO SERVICIO</a>
  </div>
  <div class="half-container top-container">
    <video class="cover-video" src="assets/video/ordervideo.mp4" autoplay loop muted></video>
  </div>
  <div class="half-container bottom-container">
    <div class="upper-bottom-container">
      <div class="button-container">
        <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-menu">Ver Menú</ion-button>
        <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-mesero">Llamar Mesero</ion-button>
        <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-orden">Hacer Pedido</ion-button>
        <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-cuenta">Cerrar Cuenta</ion-button>
      </div>
    </div>
    <div class="lower-bottom-container">
      <div class="social-media-icons">
        <img src="assets/icon/instagram.png" alt="Instagram">
        <img src="assets/icon/facebook.png" alt="Facebook">
        <img src="assets/icon/whatsApp.png" alt="WhatsApp">
      </div>
      <p class="watermark">Powered by Order Ease CR</p>
    </div>
  </div>
</ion-content>
