<ion-content>
  <div class="background-container">
    <img class="mobile-image" src="assets/image/fondo_movil.png" alt="Imagen para móvil">
    <img class="desktop-image" src="assets/image/fondo_web.png" alt="Imagen para escritorio">
    <div class="restaurant-logo">
      <img src="assets/icon/logo.png" alt="Logo del Restaurante">
    </div>
    <div class="content-overlay">
      <h1>LLAMAR MESERO</h1>
      <p class="highlight">Toca la campana para solicitar asistencia a la mesa.</p>
      <p class="larger-text">¡Nuestro personal estará feliz de asistirte!</p>
      <img class="bell-image" src="assets/icon/campana.png" alt="Campana">
      <div class="button-container">
        <ion-button class="button" fill="outline" shape="round" routerLink="/pagina-orden">Hacer Pedido</ion-button>
        <ion-button class="button" fill="outline" shape="round" routerLink="/pagina-cuenta">Cerrar Cuenta</ion-button>
      </div>
    </div>
    <div class="social-media-icons">
      <img src="assets/icon/instagram.png" alt="Instagram">
      <img src="assets/icon/facebook.png" alt="Facebook">
      <img src="assets/icon/whatsApp.png" alt="WhatsApp">
    </div>
    <p class="watermark">Powered by Order Ease CR</p>
  </div>
</ion-content>
