<ion-content>
  <div class="background-container top">
    <img class="background-image mobile" src="assets/image/fondo_largo.png" alt="Imagen para móvil">
    <img class="background-image web" src="assets/image/fondo_web.png" alt="Imagen para web">
  </div>
  
  <!-- HEADER -->
  <div class="header">
    <h1>MENÚ</h1>
    <img src="assets/icon/logo.png" alt="Logo" class="header-logo">
  </div>
  
  <!-- MENÚ IMÁGENES -->
  <div class="menu-container">
    <img src="assets/image/menu_ejemplo1.png" alt="Menú Ejemplo 1" class="menu-image">
    <img src="assets/image/menu_ejemplo2.png" alt="Menú Ejemplo 2" class="menu-image">
    <img src="assets/image/menu_ejemplo3.png" alt="Menú Ejemplo 3" class="menu-image">
  </div>
  
  <!-- BOTONES -->
  <div class="button-section">
    <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-mesero">Llamar Mesero</ion-button>
    <ion-button class="custom-button" fill="outline" shape="round" routerLink="/pagina-orden">Hacer Pedido</ion-button>
  </div>
  
  <!-- FOOTER -->
  <div class="footer">
    <div class="social-media-icons">
      <img src="assets/icon/instagram.png" alt="Instagram">
      <img src="assets/icon/facebook.png" alt="Facebook">
      <img src="assets/icon/whatsApp.png" alt="WhatsApp">
    </div>
    <p class="watermark">Powered by Order Ease CR</p>
  </div>
</ion-content>
